/* #Vars for main styles
------------------------------------------------------------------------------- */
$main-bg: #f5f5f5;
$default-color: #666666;
$default-h-color:  #343434;

$orange: #ff9800;
$greynoactive: #c9c9c9;
$greyactive: #746d64;
$red: #ff0000;

/*btn*/
/* forms */
$placeholder-txt:  #bbb;
$defaul-txt-form:  #666666;
$bg-inputs-form: #fff;

//trasition
$gTransition: all .3s ease;
$gTransitionLinear: all .2s linear;

//fonts
$fontDefault:'Open Sans', sans-serif;




